@font-face {
    font-family: "LineSeedSansRegular";
    font-weight: normal;
    src: url(https://raw.githubusercontent.com/FranzylNatsuki/franzylnatsuki.github.io/refs/heads/main/FONTS/LINESeedSans_W_Rg.woff2) format('woff2'),
        url(https://raw.githubusercontent.com/FranzylNatsuki/franzylnatsuki.github.io/refs/heads/main/FONTS/LINESeedSans_W_Rg.woff) format('woff'),
        url(https://raw.githubusercontent.com/FranzylNatsuki/franzylnatsuki.github.io/refs/heads/main/FONTS/LINESeedSans_W_Rg.ttf) format('truetype');
}

@font-face {
    font-family: "LineSeedSansRegular";
    font-weight: bold;
    src: url(https://raw.githubusercontent.com/FranzylNatsuki/franzylnatsuki.github.io/refs/heads/main/FONTS/LINESeedSans_W_Bd.woff2) format('woff2'),
        url(https://raw.githubusercontent.com/FranzylNatsuki/franzylnatsuki.github.io/refs/heads/main/FONTS/LINESeedSans_W_Bd.woff) format('woff'),
        url(https://raw.githubusercontent.com/FranzylNatsuki/franzylnatsuki.github.io/refs/heads/main/FONTS/LINESeedSans_W_Bd.ttf) format('truetype');
}

h1 {
    font-family: "LineSeedSansRegular";
    font-size: 64px;
    font-weight: bold;
}

h3 {
    font-family: "LineSeedSansRegular";
    font-size: 23px;
    font-weight: normal;
}

h4 {
    font-family: "LineSeedSansRegular";
    font-size: 19px;
    font-weight: normal;
}

span {
  font-family: "LineSeedSansRegular";
  font-size: 13px;
  font-weight: normal;
}

.bodylogin {
    margin: 0;
    padding: 0;
    background-color: #d6d3c3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bodyhomepage {
    margin: 0;
    background-image: linear-gradient(to right, #e5ffd4, #d4ffd6, #d4ffe7);
}

/* LOGIN ELEMENTS */
.form-group {
    margin: 20px;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 4em;
    scale: 80%;
}

.btn {
    font-family: "LineSeedSansRegular";
    font-size: 16px;
    font-weight: normal;
    color: white;
    background-color:black;
    border-radius: 20px;
    padding: 5;
    width: 100%;
    margin-top: 40px
}

button {
    background: none;
    padding: 10px;
    border: none;
    font-family: "LineSeedSansRegular", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: inherit;
    cursor: pointer;
}

.loginBlock {
    background-color: white;
    border-radius: 20px;
    padding: 5em 8em 6em;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    margin: auto 7em auto auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.corporateImage {
    margin: auto auto auto 2em;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.eye-icon:hover {
    color: #000;
}

input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-family: "LineSeedSansRegular", sans-serif;
    font-size: 23px;
    font-weight: normal;
    color: #000;
    background: transparent;
    padding: 5px 0;
    width: 100%;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    font-family: "LineSeedSansRegular", sans-serif;
    font-size: 23px;
    font-weight: normal;
    color: #888;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom-color: #007BFF;
    outline: none;
}

/* Home ELEMENTS */

.header {
    display: flex;
    padding: 0em 8em ;
    height: fit-content;
    width: auto ;
    display: flex;
}


.innerheader {
    padding: 1em 4em;
    position: relative;
    display: flex;
    border-bottom: black solid 2px ;
    justify-content: space-between; /* Changed from center to space-between */
    align-items: center; /* Changed from align-content to align-items */
    width: 100%; /* Added to occupy full width */
}

.nameContainer {
    margin-right: auto;
    left: 0;
    cursor: pointer;
}

.headerselector {
    display: flex;
    margin-left: auto;
    right: 0;
}

.selectors {
    margin: 0 16px;
}

.selectors:hover {
  text-decoration: underline;
  transform: translateY(-3px);
  transition: transform 0.5s;
}

a {
    color: black;
    text-decoration: none;
}

#cityText {
    color: goldenrod;
    font-size: 26px;
    transform: translateY(-4px);
}

#cityText:hover {
  transform: translateY(-7px);
  transition: transform 0.5s;
}

.mainContent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(10em, auto);
    margin: 2em 8em;
    justify-content: center;
}

.banner {
    grid-column: 1 / -1; /* Spans all grid columns */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove auto margins */
    padding: 0; /* Remove potential padding */
}


#backgroundImage {
    border-radius: 20px;
    width: 100%;
    width: 100%;
    border-radius: 20px;
    user-select: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

#backgroundImage:hover {
    opacity: 0.95;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.textArea {
    grid-column: 1 / 4;
    grid-row: 2;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center ;
    text-align: justify;
}

.setPictures1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4;
    grid-row: 2;
}
.setPictures2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5;
    grid-row: 2;
}
.setPictures3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 6;
    grid-row: 2;
}

#img1, #img2, #img3 {
    width: 100%;
    border-radius: 20px;
    user-select: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

#img1:hover, #img2:hover, #img3:hover {
    opacity: 0.6;
    transform: translateY(-3px);
    transition: transform 0.5s;
}

#jsButton {
    background-color: #3c7d10;
    color: white;
    padding: 1em 2em;
    border-radius: 20px;
    cursor: grab;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

#jsButton:hover {
  transform: translateY(-3px);
  transition: transform 0.5s;
  opacity: 0.8;
}

.left-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}



#logout {
  background: none;
  padding: 0;
  border: none;
  font-family: "LineSeedSansRegular", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  cursor: pointer;
  margin-left: 1em;
  transform: translateY(7px);
}

#logout:hover {
  text-decoration: underline;
}

/* Gallery Grid */

.galleryBoy {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  grid-auto-rows: max(12em);
  grid-auto-columns: : max(12em);
  margin: 2em 8em;
  justify-content: center;
  background: white;
  padding: 20px;
  border-radius: 20px;
}

.globalGallery {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  opacity: 1;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  flex: none; /* Add this */
}

.globalGallery:hover {
  opacity: 0.8;
  transform: translateY(-3px);
  transition: transform 0.5s;
}

.gallery1 {
  grid-column: 1 /3;
  grid-row: 1 / 3;
}

.gallery2 {
  grid-column: 3;
  grid-row: 3;
}

.gallery3 {
  grid-column: 3;
  grid-row: 1;
}

.gallery4 {
  grid-column: 3;
  grid-row: 2;
}

.gallery5 {
  grid-column: 4;
  grid-row: 1;
}

.gallery6 {
  grid-column: 5/7;
  grid-row: 1;
}

.gallery7 {
  grid-column: 1 / 3;
}

.gallery8 {
  grid-column: 4 / 6;
  grid-row: 3;
}

.gallery9 {
  grid-column: 4/6;
  grid-row: 2;
}

.gallery10 {
  grid-column: 6;
  grid-row: 2 / 4;
}

.globalGalleryImg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

/* JODEL CSS */
