* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
  }
  
  body {
    background-color: #f7f5f2;
    color: #333;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; 
    padding-bottom: 10px; 
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
  }
  
  .welcome-message {
    font-size: 1.2rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  nav ul li {
    font-size: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  main {
    display: flex;
    justify-content: center; 
    gap: 20px;
  }
  
  .contact-form, 
  .contact-info {
    width: 45%; 
    padding: 20px;
    background-color: #f7f5f2; 
    border-radius: 5px;
    box-shadow: none; 
  }
  
  
  
  .contact-info h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
  }
  
  .contact-info p {
  margin-bottom: 20px;
  font-size: 0.95rem;
  color: #666;
  }
  
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #d9cfc9;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c6b4aa;
  }
  
  
  
  .contact-info ul {
    list-style: none;
  }
  
  .contact-info ul li {
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  
  .contact-info ul li strong {
    font-weight: bold;
  }

  .header {
    display: flex;
    padding: 0em 8em ;
    height: fit-content;
    width: auto ;
    display: flex;
}


.innerheader {
    padding: 1em 4em;
    position: relative;
    display: flex;
    border-bottom: black solid 2px ;
    justify-content: space-between; /* Changed from center to space-between */
    align-items: center; /* Changed from align-content to align-items */
    width: 100%; /* Added to occupy full width */
}

.nameContainer {
    margin-right: auto;
    left: 0;
    cursor: pointer;
}

.headerselector {
    display: flex;
    margin-left: auto;
    right: 0;
}

.selectors {
    margin: 0 16px;
}

.selectors:hover {
  text-decoration: underline;
}